# Data Science Tools and Ecosystem

In this notebook, Data Science tools and ecosystem are summarized.

**Objectives**:
* List popular languages for Data Science
* List of popular data science libraries
* Table of data science tools
* Example of arithmatic expressions

#### Some of the popular languages that Data Scientists use are:
1. Python 
2. SQL
3.  C++
4. Java

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. MatplotLib
3. TensorFlow
4. SciKit-Learn

 -----------------------
|Data Science tools|
-----------------------
|RStudio|
|TensorFlow|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
mins=200
hour=60
convert=mins/hour
print("200 minutes in hours is equal to total of",convert, "hours")

200 minutes in hours is equal to total of 3.3333333333333335 hours

## Author
Khaled Mahmoud